.idea/
venv
venv2.7
venv3.5
venv3.8
flagship/__pycache__/app.cpython-35.pyc
flagship/__pycache__/app.cpython-37.pyc
flagship/__pycache__/app.cpython-38.pyc
flagship/__pycache__/config.cpython-35.pyc
flagship/__pycache__/config.cpython-37.pyc
flagship/__pycache__/config.cpython-38.pyc
flagship/__pycache__/decorators.cpython-35.pyc
flagship/__pycache__/decorators.cpython-37.pyc
flagship/__pycache__/decorators.cpython-38.pyc
flagship/__pycache__/errors.cpython-35.pyc
flagship/__pycache__/errors.cpython-38.pyc
flagship/__pycache__/handler.cpython-35.pyc
flagship/__pycache__/handler.cpython-38.pyc
flagship/__pycache__/__init__.cpython-35.pyc
flagship/__pycache__/__init__.cpython-37.pyc
flagship/__pycache__/__init__.cpython-38.pyc
flagship/__pycache__/visitor.cpython-35.pyc
flagship/__pycache__/visitor.cpython-37.pyc
flagship/__pycache__/visitor.cpython-38.pyc
tests/__pycache__/__init__.cpython-38.pyc
tests/__pycache__/test_bucketing.cpython-27-PYTEST.pyc
tests/__pycache__/test_config.cpython-27-PYTEST.pyc
tests/__pycache__/test_decorator.cpython-27-PYTEST.pyc
tests/__pycache__/test_init.cpython-27-PYTEST.pyc
tests/__pycache__/test_singleton.cpython-27-PYTEST.pyc
tests/__pycache__/test_visitor.cpython-27-PYTEST.pyc
*.pyc
