env/
.pytest_cache
*/__pycache__/*django-sample-python-sdk/
django-sample-python-sdk
.idea/
.idea
flagship/__pycache__
*/__pycache/
__pycache__/
save_requirements.txt
venv
venv3.5
venv2.7
flagship/__init__.pyc
venv3.8
*.pyc
tests-public
build
