{% extends './base.html' %}

{% block content %}
    <div class="container mt-5 mb-5" id="app">
        <h2>
            First, set your Flagship Environment ID
        </h2>

        <form v-on:submit.prevent="setEnv()">
            <div class="form-group">
                <label>Environment ID</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="Environment ID"
                        v-model="envId"
                />
                <small id="emailHelp" class="form-text text-muted"
                >Set your Flagship Environment ID first.</small
                >
            </div>
            {% comment %} <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" v-model="bucketing" />
          <label class="form-check-label">
            Use bucketing
          </label>
        </div> {% endcomment %}

            <div class="alert alert-danger" v-if="envError">[[envError.error]]</div>
            <div class="alert alert-success" v-if="envOk">
                Flagship client successfully initialized
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
        </form>

        <h2 class="mt-5">
            Then, set your Visitor ID and context
        </h2>
        <form v-on:submit.prevent="setVisitor()">
            <div class="form-group">
                <label>Visitor ID</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="Visitor ID"
                        v-model="visitorId"
                />
                <small id="emailHelp" class="form-text text-muted"
                >Set your Flagship Visitor ID.</small
                >
            </div>

            <div class="form-group">
                <label>Visitor Context (JSON)</label>
                <textarea
                        class="form-control"
                        placeholder="Visitor Context"
                        v-model="context"
                ></textarea>
                <small id="emailHelp" class="form-text text-muted"
                >Set your Flagship Visitor Context.</small
                >
            </div>

            <div class="alert alert-danger" v-if="visitorError">
                [[visitorError.error]]
            </div>
            <div class="alert alert-success" v-if="visitorOk">
                Visitor ID and context set successfully
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <small id="result" class="form-text text-muted" v-if="data && data.modifications"
            >Result modifications</small
            >
            <textarea
                    class="form-control"
                    v-if="data && data.modifications"
            >[[JSON.stringify(data.modifications, null, 4)]]</textarea>
            <small id="result" class="form-text text-muted" v-if="data && data.campaigns"
            >Result campaigns</small
            >
            <textarea
                    class="form-control"
                    v-if="data && data.campaigns"
            >[[JSON.stringify(data.campaigns, null, 4)]]</textarea>

            <div class="alert alert-warning" v-if="data && data.error">[[data.error]]</div>
        </form>

        <h2 class="mt-5">
            Then, get a Flag Value
        </h2>
        <form v-on:submit.prevent="getFlag()">
            <div class="row" style="align-items:center">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Flag key</label>
                        <input
                                type="text"
                                class="form-control"
                                placeholder="Key"
                                v-model="flag.name"
                        />
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Flag type</label>
                        <select
                                type="text"
                                class="form-control"
                                placeholder="Type"
                                v-model="flag.type"
                        >
                            <option value="bool">bool</option>
                            <option value="number">number</option>
                            <option value="string">string</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Default value</label>
                        <input
                                type="text"
                                class="form-control"
                                placeholder="Default"
                                v-model="flag.defaultValue"
                        />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-check mb-3">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                v-model="flag.activation"
                        />
                        <label class="form-check-label">
                            Activate
                        </label>
                    </div>
                </div>
            </div>

            <div class="alert alert-warning mt-3 mb-3" v-if="flagOk && flagOk.err">
                [[flagOk.err]]
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>

            <div
                    class="alert alert-success mt-3 mb-3"
                    v-if="flagOk && (flagOk.value == false || flagOk.value)"
            >
                Value =  [[flagOk.value]]
            </div>
            <div
                    class="alert alert-success mt-3 mb-3"
                    v-if="flagOk && (flagOk.value == false || flagOk.activated)"
            >
               Activation Sent
            </div>
            <div class="alert alert-warning" v-if="flagOk && flagOk.info">[[flagOk.info]]</div>
            <div class="alert alert-warning" v-if="flagOk && flagOk.info_f == false">No Activation sent</div>
            <div class="alert alert-danger" v-if="flagError">[[flagError.error]]</div>
            <div class="alert alert-danger" v-if="flagError">[[flagError.error]]</div>
        </form>
        <h2 class="mt-5">
            Stand alone Activation
        </h2>

        <form v-on:submit.prevent="send_activation()">

            <div class="row" style="align-items:center">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Flag key</label>
                        <input
                                type="text"
                                class="form-control"
                                placeholder="Key"
                                v-model="activate.name"
                        />
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <div
                    class="alert alert-success mt-3 mb-3"
                    v-if="activateOk && activateOk.value"
            >
                Return value : [[activateOk.value]]
            </div>
            <div class="alert alert-danger" v-if="activateError">[[activateError.error]]</div>
            <div class="alert alert-warning mt-3 mb-3" v-if="activateOk && activateOk.err">
                [[activateOk.err]]
            </div>
        </form>
    </div>


{% endblock %}